$primary: #529fff;
$primary-hover: #488adc;

$success: #6ab04c;
$success-primary: #6ab04c;

$danger: #E00B27;
$danger-hover: #D90D28;

$white: #ffffff;
$white-three: #f9f9f9;
$pale-grey: #dfe6e9;
$warm-grey: #999999;
$black: #2d3436;

// extra colors
$pale-gold: #fdcb6e;
$butterscotch: #ffb142;
$pinkish-orange: #ff793f;
