@font-face {
  font-family: 'Open Sans';
  src: font-url('OpenSans-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans SemiBold';
  src: font-url('OpenSans-SemiBold.ttf');
  font-style: normal;
  font-weight: 400;
}
